/* Importaciones */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  list-style: none; 
}

body {
  font-family: "Open Sans";
  height: 100vh;
  overflow: hidden; 
  background: url(../images/Fondo.jpg) no-repeat center center fixed;
  background-size: cover;
}

img {
  max-width: 100%; 
}

a {
  text-decoration: none;
  outline: none;
  color: #444; 
}

a:hover {
  color: #444; 
}

.form-02-main {
  position: relative;
  z-index: 2;
  height: 100vh; 
}

._lk_de {
  padding: 40px 0;
}

.form-03-main {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 30px;
  background: rgba(255, 255, 255, 0.177);
}

.form-03-main h1 {
  font-family: 'Constantia';
  font-size: 3.6rem;
  font-weight: 900; 
  color: #003366;
  text-align: center;
  margin-bottom: 20px;
}

.form-03-main p {
  font-family: 'Constantia';
  font-size: 1.1rem;
  font-weight: 500;
  color: #4D4D4D;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.6;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}

.logo-text {
  font-family: 'Constantia', serif;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(to right, rgba(0, 20, 40, 1), rgba(0, 162, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.form-group {
  padding: 20px 0;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.form-control {
  min-height: 45px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #2b3990;
  background: rgba(255, 255, 255, 0.019);
  transition: background-color 0.3s, border-color 0.3s;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.5);
  border-color: #2b3990;
  outline: none;
}

.btn_cliente {
  width: 100%;
  padding: 12px;
  background-color: #2b3990; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s; 
  cursor: pointer; 
}

.btn_cliente:hover {
  background-color: #2b3990d4;
}

.btn_emp, .btn_sesionC, .btn_sesionE, .btn_Registro {
  width: 100%;
  padding: 12px;
  background-color:  #2d7ac6; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s; 
  cursor: pointer; 
}

.btn_emp:hover, .btn_sesionC:hover, .btn_sesionE:hover, .btn_Registro:hover {
  background-color: #2d79c6b5;
  transform: scale(1.05);
}



.link_register {
  color: #007bff; 
  text-decoration: underline;
}

.link_register:hover {
  color: #2d34ff; 
}

._social_04 {
  text-align: center; 
}

._social_04 ol {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center; 
}

._social_04 ol li {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #ffffff50;
  border-radius: 50px;
  border: 1px solid #2b3990;
  margin: 0 10px;
  transition: transform 0.3s, background 0.3s, border-color 0.3s;
}

._social_04 ol li:hover {
  transform: scale(1.2);
  background: #ffffff; 
  border-color: #2b3990;
}

._social_04 ol li a {
  font-size: 1.5rem; 
  transition: color 0.3s; 
}

._social_04 ol li a .fa-facebook {
  color: #3b5998; 
}

._social_04 ol li a .fa-twitter {
  color: #1da1f2; 
}

._social_04 ol li a .fa-google-plus {
  color: #db4437; 
}

._social_04 ol li a .fa-instagram {
  color: #e1306c; 
}

._social_04 ol li a .fa-linkedin {
  color: #0077b5; 
}

._social_04 ol li a:hover .fa-facebook {
  color: #3b5998; 
}

._social_04 ol li a:hover .fa-twitter {
  color: #1da1f2; 
}

._social_04 ol li a:hover .fa-google-plus {
  color: #db4437; 
}

._social_04 ol li a:hover .fa-instagram {
  color: #e1306c; 
}

._social_04 ol li a:hover .fa-linkedin {
  color: #0077b5; 
}



@media screen and (max-width: 600px) {
  .form-03-main {
    width: 100%;
  }
}









        body {
            background-color: #f4f6f9;
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 30px;
            background: rgba(255, 255, 255, 0.177);
        }
        .card-header {
            background: linear-gradient(to right, rgba(0, 20, 40, 1), rgba(0, 162, 255, 1));
            color: #ffffff;
            padding: 5px;
            border-radius: 8px 8px 0 0;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .card-body p {
            font-size: 1rem;
            font-weight: 400;
            color: #333;
            margin-bottom: 10px;
        }
        .card-body p strong {
            color:  #140062;
        }
        .btn-salir {
            display: inline-block;
            background: linear-gradient(to right, rgba(0, 20, 40, 1), rgba(0, 162, 255, 1));
            color: white; 
            border: none;
            padding: 10px 15px; 
            border-radius: 4px; 
            font-size: 1rem; 
            text-decoration: none; 
            text-align: center;
            margin-top: 10px;
            float: right;
        }

        .btn-salir:hover {
            background-color: #413b3c; 
        }

        .btn-buscar {
          display: inline-block;
          background: linear-gradient(to right, rgba(0, 20, 40, 1), rgba(0, 162, 255, 1));
          color: white; 
          border: none;
          padding: 10px 15px; 
          border-radius: 4px; 
          font-size: 1rem; 
          text-decoration: none; 
          text-align: center;
          margin-top: 10px;
          
      }


        
        .logo {
            display: block;
            margin: 0 auto; 
            width: 100px;
            height: 100px;
            margin-bottom: 30px;
            }

            .logo-text {
            font-family: 'Constantia', serif;
            font-size: 1rem;
            font-weight: 700;
            background: linear-gradient(to right, rgba(0, 20, 40, 1), rgba(0, 162, 255, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            }
